html, body{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #FFF;
}

main {
	margin: 0em auto;
	background:#FFDCD1;
	color: black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 25px;
}

.transition-main{
	width: 0%;
	height: 100%;
	position: relative;
	opacity: 0;
	top: -80;
}

.transition-main p{
	opacity: 0;
}

.transition-main h1{
	opacity: 0;
}


/*----start-profile----*/
.profile{
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}

.aboutme{
	text-align: center;
}

.profile-background{
	background: url(../images/headerbackground.jpg) no-repeat 100%;
	background-size: cover;
	align-items: center;
}

.profile-top-container{

	display: grid;
}


.profile-picture{
	justify-self: center;
	border:2px solid #2ca7cc;
	width: 75%;

	min-width: 250px;
}

.up-arrow {
	width: 0; 
	height: 0; 
	position: relative;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 80px solid #FFDCD1;

	opacity: 0;
}


.profile-name{
	text-align: center;
	color: #000000;
	font-weight:900;
}

.hovered-icon{
	display: none;
}

.header-page {
	margin-bottom: 0px;
	display:inline-block;
	background:#c8f7fc;
	border:10px solid #2ca7cc;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	height: 140px;
	width: 140px;
}

.current-page{
	background-color: #FD3B01;
  	border-color:  #FFDCD1;
}
.current-page img{
	display: none;
}
.current-page .hovered-icon{
	display: inline-block;
}
.current-page ~ h3{
	color: #FD3B01;
	font-size: 1.6em;
}

.features-grid a img{
	margin-top: 2.0em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
} 

.aboutme-text{
	text-indent: 75px;
	margin-top: 0px;
	margin-bottom: 75px;
	color: #000000;
	font-weight:550;
	line-height: 2em;
}

.container-grid {
	display: grid;
	justify-content: center;
  }

.grid-text{
	
	margin-top: 0px;
	color: #2ca7cc;
}

.leading-text{
	font-weight: 1000;
	font-style: normal;
}

.standard-text{
	font-weight: 500;
	font-style: italic;
}

.features-grid{
	padding: 4em 0 0em;
}

/*----end-profile----*/


/*-----start-footer----*/
.footer{
	background:#21282A;
	opacity: 0;
}
.footer-left{
	text-align:center;
	margin:1.8em 0;
}
.footer-left a img{
	display:inline-block;
}
.footer-left p{
	color: #FFF;
	margin:0.8em 0 0;
}
.footer-left p a{
	color:#00AEEF;
}
.footer-left p a:hover{
	text-decoration:none;
	color:#FD3B01;
}


@media (max-width:480px){
.footer-right span {
	width: 70px;
	height: 70px;
}
.footer-left p {
   margin: 10px 0;
}
.footer-right span label {
	margin-top: 1em;
}
}